<div class="center">

	<h1>The Collective</h1>
	<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>

	<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>
		<p>
		Welcome to The Collective (Alpha). Sign up or sign in. #YOLO.
	</p>



</div>